<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.tony.troisiememain">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="be.tony.troisiememain.activity.AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="be.tony.troisiememain.activity.AjouterArticleActivity" />
        <activity android:name="be.tony.troisiememain.activity.RecherchePrixActivity" />
        <activity android:name="be.tony.troisiememain.activity.RechercherVilleActivity" />
        <activity android:name="be.tony.troisiememain.wizzard.villeWizzard" />
        <activity android:name="be.tony.troisiememain.activity.AffichageResultatActivity" />
        <activity android:name="be.tony.troisiememain.activity.InfoArticleActivity"></activity>
    </application>

</manifest>